[change points]
# each of these is required
first = 1
last = 200000
npts = 200

[population]
# mutation rate per site per generation
u = 1.3e-8
# generation time (optional)
t_gen = 29

[loss]
# each of these is optional
loss = prf
clip_low = 0
clip_high = 5

[η regularization]
# each of these is optional
α_tv = 3e2
α_spline = 1e4
α_ridge = 1e-10

[μ regularization]
# each of these is optional
hard = True
β_rank = 3e2
β_tv = 1e2
β_spline = 1e3
β_ridge = 1e-10

[convergence]
# each of these is optional
tol = 1e-10
max_iter = 1000
max_line_iter = 300
γ = 0.8
